body {
    background: rgb(96, 96, 254);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.431);
}

div {
    text-align: center;
}

#imagem {
    border-radius : 45px;
    height: 20rem;
    width: 350px;
    margin: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}